@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Montserrat:wght@700&family=Noto+Serif+Display:ital,wght@1,100&family=Oswald&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Oswald";
}

body {
  background-color: #0d1321;
}

.title-header {
  margin: 15px;
  margin-top: 50px;
  text-align: center;
  color: white;
}

/* contenedor de las cards */
.container-main {
  width: 100%;
  margin: auto;
  display: flex; /*para poner las card una al lado de la otra */
  flex-wrap: wrap; /* para que maneje la parte de responsive y se ponga una debajo de la otra a la hora de achicar la pagina */
  justify-content: center;
}
/*informacion, titulos placa y fecha y hora */
.info-type-time {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.name-list-vehicle {
  margin: 0 auto 0 auto;
  color: white;
  display: flex;
  flex-direction: row;
  text-align: center;
}

.name-data-vehicle {
  margin: 0 auto 0 auto;
  color: white;
}

/* datos de placa ingresados por el usuario  */

.vehicle {
  color: white;
  padding: 5px;
  border: 1px solid #0d1321;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* buscar vehiculos  */
.info-pay {
  margin: 20px 10px;
}

.button-pay {
  margin-top: 10px;
  margin-left: 90px;
}

.exit-vehicle {
  color: white;
  padding: 5px;
  border: 1px solid #0d1321;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.exit-type-plate {
  font-size: larger;
}

.exit-totalpay {
  margin-top: 15px;
  font-size: larger;
  text-align: center;
  font-weight: bold;
}
/* sombra y margen de la card */
.card {
  width: 400px;
  margin: 50px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 5);
  background: rgba(255, 255, 255, 0.1);
}

/* imagenes dentro de las cards */
img {
  width: 100%;
  border-radius: 15px;
}

/* titulos de las cards */
.card h3 {
  font-size: 25px;
  color: white;
}

/* botones en general */
button {
  margin-top: 5px;
  width: 140px;
  height: 40px;
  padding: 0;
  background-color: #212025;
  border: 0;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  color: white;
}

button:hover {
  transform: scale(1.1);
}

input {
  width: 150px;
  height: 40px;
  border: 0;
  border-radius: 8px;
  padding: 10px;
  font-size: 20px;
  outline: none;
}

/* agregando estilos para el modal */

/* Fondo modal: negro con opacidad al 50% */
.modal {
  display: none; /* Por defecto, estará oculto */
  position: fixed; /* Posición fija */
  z-index: 1; /* Se situará por encima de otros elementos de la página*/
  padding-top: 200px; /* El contenido estará situado a 200px de la parte superior */
  left: 0;
  top: 0;
  width: 100%; /* Ancho completo */
  height: 100%; /* Algura completa */
  overflow: auto; /* Se activará el scroll si es necesario */
  background-color: rgba(0, 0, 0, 0.5); /* Color negro con opacidad del 50% */
}

/* Ventana o caja modal */
.modal-content {
  background-color: #1d2d44;
  width: 600px;
  padding: 40px 50px;
  border-radius: 15px;

  position: relative; /* Relativo con respecto al contenedor -modal- */
  margin: auto; /* Centrada */
}

/* titulo del modal */
h2 {
  margin-bottom: 20px;
  font-size: 35px;
}

/* boton de ingresar vehiculo dentro del modal */
.boton-ingresar-vehiculo {
  margin-left: 10px;
  padding: 0;
  font-size: 20px;
}
/* boton de cerrar modal */
.cerrar {
  margin-top: 30px;
  margin-left: 10px;
  padding: 0;
  font-size: 20px;
}

.boton-buscar {
  margin-left: 10px;
  padding: 0;
  font-size: 20px;
}

/* boton de seleccion de vehiculo */
.boton-seleccion-vehiculo {
  width: 150px;
  height: 40px;
  border: 0;
  border-radius: 8px;
  padding: 10px;
  font-size: 20px;
  padding: 0;
  outline: none;
}
